/* Reset */
* {
  margin:0px;
  padding:0;
  list-style: none;
  text-decoration: none;
  /* cursor: none; */
}

/* Cores */
:root {
  --bg:#222835;
  --font-1:#f1f1f1;
  --font-2:#B2B2B2;
  --cor-primaria:#BDFF02;
  --cor-sombra:#90b822;
  --hoverPacotes:#1c212c;
}

/* Geral */
body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color:var(--bg);
  width:100vw;
  height:100vh;
  margin:0;
}

/* Utilitário */
.titulo {
  font-size: 2.3rem;
  color:var(--font-1);
}
.titulo span {
  color:var(--cor-primaria);
}
.btn {
  color:var(--bg);
  display: inline-block;
  padding:10px 25px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 15px var(--cor-sombra);
} 

/* Header */
.logo {
  stroke-width: 1px;
  stroke: var(--cor-primaria);
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: logoWriting 6s ease-in-out forwards;
  transition:.3s;
}
.logo.sombra {
  filter: drop-shadow(0 0 50px var(--cor-sombra));
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:10px 0 0 0;
  flex-wrap: wrap;
}
.navegacao ul li a.active {
  color:var(--bg);
  transition: 0.3s;
}
.navegacao ul{
  display: flex;
  font-size: 1rem;
  position:relative;
}
.navegacao ul li a {
  display: inline-block;
  color:var(--font-1);
  padding:8px 20px;
  border-radius:5px;
}
.tabSlide {
  width:85px;
  height: 36px;
  position:absolute;
  border-radius:5px;
  top:0;
  left:0;
  z-index:-1;
  transition: 0.3s;
}
.navegacao ul li:nth-child(1) ~ .tabSlide.home {
  width:85px;
  background-color: var(--cor-primaria);
}
.navegacao ul li:nth-child(2) ~ .tabSlide.servicos{
  width:105px;
  left:85px;
  background-color: var(--cor-primaria);
}
.navegacao ul li:nth-child(3) ~ .tabSlide.comunidade {
  width:136px;
  left:190px;
  background-color: var(--cor-primaria);
}
.navegacao ul li:nth-child(4) ~ .tabSlide.dev {
  width:69px;
  left:327px;
  background-color: var(--cor-primaria);
}

/* Container */
.container {
  display: flex;
  scroll-snap-type: inline mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
  display: none;
}
.container section {
  flex: none;
  width:100vw;
  height:calc(100vh - 145px);
  scroll-snap-align: start;
}
.containerPage {
  max-width: 1000px;
  margin:0 auto;
}

/* Home */
.homeContent {
  display: flex;
  justify-content: center;
  margin-top:90px;
}
.homeContent div {
  margin-bottom:40px;
  align-items: center;
}
.homeContent img {
  width:450px;
  overflow: hidden;
}
.homeContent div h1 {
  max-width:550px;
  margin-bottom:15px;
}
.homeContent div p {
  max-width: 470px;
  color:var(--font-2);
  margin-bottom:25px;
}

/* Serviços */
.introducaoPage {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  margin-top:25px;
}
.planos {
  margin-top:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
  flex-wrap: wrap;
}
.planos ul {
  padding:20px 30px;
  border:var(--cor-primaria) solid 2px;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition:0.2s;
  position: relative;
}
.planos ul:after {
  content: '';
  background-image: url("../img/asset2.svg");
  width:179px;
  height: 257px;
  position:absolute;
  right:0;
  bottom:0;
  z-index:-1;
}
.planos ul:hover {
  transform: scale(1.01);
  background-color: var(--hoverPacotes);
}
.planos ul li {
  color:var(--font-1);
  font-size: 0.90rem;
}
.planos ul li::before {
  content:'✔';
  color:var(--cor-primaria);
  margin-right: 5px;
}
.planos ul h2 {
  color:#afbb07;
}
.planos ul h1 {
  color:var(--font-1);
  font-size: 1.5rem;
}
.planos ul span {
  color:var(--font-2);
  font-size: 0.80rem;
}
.planos ul div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:0 0 10px 0;
}
.planos ul:nth-child(2) div h2 {
  color:#787973;
}
.planos ul:nth-child(3) div h2 {
  color:#755d0c;
}

/* Comunidade */
.feedContainer {
  margin-top:25px;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.feed {
  border:var(--cor-primaria) solid 2px;
  border-radius:5px;
  max-width: 446px;
  padding:20px;
  margin:0 auto;
  position:relative;
}
.feed::after {
  content:'';
  background-image: url("../img/asset3.svg");
  width:242px;
  height:74px;
  position:absolute;
  right: 0;
  bottom:0;
  z-index: -1;
}
.feed div {
  display:flex;
  align-items: center;
  gap:10px;
}
.feed div span {
  color: yellow;
  font-size: 1.09rem;
}
.feed div h2 {
  color: var(--font-1);
}
.feed p {
  color:var(--font-2);
  font-size: 0.9rem;
}

/* Dev */
.devPortfolio {
  display: flex;
  margin:100px auto 0;
  width:90px;
  padding:20px;
  position:relative;
  transition:0.3s;
}
.devPortfolio:hover {
  filter: drop-shadow(0 0 50px var(--cor-sombra));
}
.devPortfolio a img{
  width:100px;
}
.devPortfolio:hover ~ .devWindowMove {
  display:block;
  opacity:1;
}
.devWindowMove {
  color: var(--font-2);
  padding:8px 20px;
  display: none;
  position:absolute;
  /* Glassmorphism */
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Footer */
.footer {
  text-align: center;
  padding-bottom:10px;
  color:var(--font-2);
}


/* Reponsivo */
@media (max-width:560px) {
  .containerPage {
    max-width: 400px;
  }
  .homeContent img {
    display: none;
  }
}

/* Animações */
@keyframes logoWriting {
  0% {
    stroke-dashoffset: 1000;
  } 50% {
    stroke-dashoffset: 0;
  } 100%  {
    stroke-dashoffset: 0;
  }
}